{% extends 'main/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
<h2>About us</h2>
<img src="{% static 'img/me.jpg' %}" width="200" class="rounded mb-3">
<p>Offers and skills:</p>
<ul>
    We are a team of two seasoned bookkeeping professionals, each with more than a decade of hands-on experience.
    Our backgrounds include a BS in Business Administration and a BS in Accounting,
    with one partner currently pursuing CPA licence. We are also QuickBooks Certified
    and proud members of the NACPB (National Association of Certified Public Bookkeepers). This blend of education
    and experience allows us to provide accurate,
    compliant, and efficient bookkeeping services tailored to your business needs.
We have supported a wide variety of small and mid-sized businesses, including those in manufacturing, construction,
    trucking, and start-ups. We truly enjoy the work we do and take pride in keeping your financial records organized,
    clear, and dependable.
<!--    <li>Consulting</li>-->
<!--    <li>Accounting</li>-->
<!--    <li>Bookkeeping</li>-->
</ul>
{% endblock %}